
{% extends "base.html" %}
{% block title %}Livro{% endblock %}
{% block content %}
    {% for livro in livros %}
        {% if livro.id == livro_id %}
            <p>Título: {{livro.titulo}}</p>
            <p>Autor: {{livro.autor}}</p>
            <p>Ano: {{livro.ano}}</p>
            <p>Gênero: {{livro.genero}}</p>

            <h2>Resenhas:</h2>
            {% for resenha in resenhas %}
                {% if resenha.livro_id == livro_id %}
                <ul>
                    <li>{{resenha.texto}}</li>
                </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}